streamlit
python-docx
pdfplumber
pytesseract
Pillow
scikit-learn
xgboost
shap
joblib
matplotlib
seaborn
pandas
scipy
torch
transformers
pandas
numpy<2
scikit-learn==1.6.1
spacy==3.6.1
spacy-transformers==1.2.4
